body{
    background-image:url(img/slika1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


#naslov {
    margin-top: 30px;
    margin-left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#div-tbl-pocetna {
    margin-top: 30px;
    width: 80%;
    margin-left: 200px;
}


#id-col {
    width: 20px;
}

#imep-col {
    width: 50px;
}

#prezimep-col {
    width: 50px;
}

#dijagnoza-col {
    width: 70px;
}

#terapija-col {
    width: 30px;
}

#godine-col {
    width: 30px;
}

#imel-col {
    width: 50px;
}

#prezimel-col {
    width: 50px;
}

#izmena-brisanje {
    width: 50px;
}

#btn_novi_pacijent {
    margin-left: 43%;
    margin-top: 25px;
    height: 50px;
    background-color:darkcyan;
    color: black;
    border-color: black;
}

#forma-novi-pacijent {
    width: 15%;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
}

#pocetna-btn {
    width: 15%;
    margin-top: 40px;
    margin-left: 40%;

}

#forma-izmena-pacijent {
    width: 15%;
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 50px;
    text-align: center;
}

#btn_pretraga_sort {
    margin-top: 25px;
    height: 50px;
    width: 250px;
    margin-left: 40%;
}

#sort-div {
    margin-top: 2%;
    margin-left: 18%;
    width: 60%;
}

#sort-naslov {
    margin-left: 40%;
    margin-top: 2%;
}