body{
    background-image:url(img/slika1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


#naslov {
    margin-top: 30px;
}

#div-tbl-pocetna {
    margin-top: 25px;
    width: 80%;
    margin-left: 200px;
}


#id-col {
    width: 20px;
}

#imep-col {
    width: 50px;
}

#prezimep-col {
    width: 50px;
}

#dijagnoza-col {
    width: 70px;
}

#terapija-col {
    width: 30px;
}

#godine-col {
    width: 30px;
}

#imel-col {
    width: 50px;
}

#prezimel-col {
    width: 50px;
}

#izmena-brisanje {
    width: 50px;
}

#btn_novi_pacijent {
    margin-left: 45%;
    margin-top: 15px;
    height: 50px;
}

#forma-novi-pacijent {
    width: 15%;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
}